@charset "utf-8";


html,
body
{
  margin:0;
  padding:0;
  border:0;
}

#remote
{
  position:fixed;
  top:50%;
  left:50%;
  width:auto;
  height:auto;
  min-width:100%;
  min-height:100%;
  z-index:-100;
  -webkit-transform:translateX(-50%) translateY(-50%);
  transform:translateX(-50%) translateY(-50%);
}

#stdoutbg
{
  display:none;
  position:fixed;
  left:50%;
  bottom:0;
  width:100%;
  height:40%;
  min-width:100%;
  z-index:100;
  background:#fff;
  border:0;
  margin:0;
  padding:0;
  opacity:0.7;
  overflow:hidden;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
}

#stdout
{
  display:none;
  position:fixed;
  left:50%;
  bottom:0;
  width:100%;
  height:40%;
  min-width:100%;
  z-index:1000;
  background:none;
  border:0;
  margin:0;
  padding:0;
  overflow-x:auto;
  overflow-y:visible;
  -webkit-transform:translateX(-50%);
  -webkit-overflow-scrolling:touch;
  transform:translateX(-50%);
}

#stdout div,
#stdout span
{
  marign:0;
  padding:0;
  font-family:"Courier New" mono;
  font-size:10px;
}

#stdout span
{
  display:inline-block;
  float:left;
}

#stdout div
{
  display:block;
  float:none;
  clear:both;
}

#editor textarea
{
  width:640px;
  height:480px;
}
